# Laravel
/node_modules
/public/hot
/public/storage
/storage
/vendor
.env
.env.backup
.env.production.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE
.idea
.vscode
*.swp
*.swo
*~
.DS_Store

# Docker
docker-compose.override.yml

# Tests
.phpunit.cache
coverage/

# Composer
composer.lock
